@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
}

body {
    height:100vh;
    font-family: 'Montserrat', sans-serif;
    background: #860D02;
    background: -webkit-linear-gradient(top right, #860D02, #3A321A);
    background: -moz-linear-gradient(top right, #860D02, #3A321A);
    background: linear-gradient(to bottom left, #860D02, #3A321A);
    color:#FFFFFF;
}  

.container {
    margin:0 auto;
    max-width:100rem;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column;

    h1 {
        margin-bottom:1.6rem;
        font-size:3rem;
    }

    @media (max-width: 60rem) {
        padding:1.5rem;
    }
}

.input-default {
    width:100%;
    font-size:2rem;
    padding:.75em 1em;
    color:#7e7e7e;
    border-radius:10px;
    border:none;
}

.button-default {
    width:100%;
    font-size:2rem;
    padding:.75em 1em;
    color:#000000;
    background-color:#ff7a6e;
    border:none;
    cursor:pointer;
    margin:0;
    border-radius:10px;
}

.forms-box {
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        
        & > input, button {
            flex: 1 1 20rem;
            
            &.large {
                flex: 4 1 20rem;
            }
        }
    }
}